
# Example of environment variables: change if you want it to be secure, otherwise it will be created with these keys by default.


# APP
APP_NAME=Northwind Enterprise API
APP_VERSION=1.0.0
DEBUG=True


# DB
DB_USER=northwind_user
DB_PASSWORD=northwind_password
DB_NAME=northwind
DB_PORT=5432
DB_HOST=northwind_postgres


# MANAGER UI DB
PGADMIN_EMAIL=admin@northwind.com
PGADMIN_PASSWORD=admin123


# JWT 
JWT_SECRET_KEY=YOUR-SECRET-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXP_MIN=40


# REDIS
REDIS_PORT=6379
REDIS_HOST=northwind_redis